#System Settings
#Sat Mar 21 22:01:33 GMT 2026
pos_ICON_SuperCalculator.jar=160,40
pos_ICON_Terminal=40,39
wallpaper=C\:\\Users\\thies\\Projekte\\ThillagersOS\\ThillagersOS\\VM_Disk\\Pack.png
shortcuts=
theme=Win95
timeOffset=-47000
pos_ICON_Explorer=40,160
pos_ICON_Browser=39,289
pos_ICON_App\ Store=34,402
