#System Settings
#Sat Mar 21 18:21:00 GMT 2026
pos_ICON_SuperCalculator.jar=160,40
pos_ICON_Terminal=40,40
wallpaper=/home/runner/workspace/VM_Disk/explorer (copy).PNG
shortcuts=
theme=Win10
timeOffset=3582999
pos_ICON_Explorer=40,160
pos_ICON_Browser=40,520
pos_ICON_App\ Store=190,280
