#System Settings
#Sat Mar 21 21:50:17 GMT 2026
pos_ICON_SuperCalculator.jar=160,40
pos_ICON_Terminal=40,39
wallpaper=C\:\\Users\\thies\\Projekte\\ThillagersOS\\ThillagersOS\\VM_Disk\\Pack.png
shortcuts=C\:\\Users\\thies\\Projekte\\ThillagersOS\\ThillagersOS\\VM_Disk\\VM_Disk\\jars\\SuperCalculator.jar;
theme=Win95
timeOffset=-47000
pos_ICON_Explorer=40,160
pos_ICON_Browser=36,288
pos_ICON_App\ Store=34,402
